body{
    padding-top:5em;
    padding-bottom:5em;
}

.epnumber{
    width:5%;
}

.epname{
    width:70%;
}

.epstatus{
    width:12.5%;
}

.epdate{
    width:12.5%;
}

.game{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #F8F8F8;
}

.blog-post{
    padding:10px;
    padding-bottom:40px;
    border-radius: 15px;
}

.blog-post:nth-child(even){
    background:#F8F8F8;
}